@{
    ViewData["Title"] = "Home";
}

<h1>Witamy na ZasilaczDB.pl</h1>
<h2>potężnej stronie internetowej poświęconej zasilaczom komputerowym!</h2>
<p>
    Posiadamy szeroką gamę zasilaczy różnych marek i modeli, dostosowanych do różnych potrzeb i budżetów. Nasze zasilacze cechują się wysoką jakością, niezawodnością i bezpieczeństwem.
    Oferujemy zasilacze o mocy od 300W do 1200W, dostępne w różnych standardach zasilania, takich jak ATX, SFX czy TFX. Mamy również zasilacze z certyfikatem 80 Plus, co oznacza, że spełniają one wysokie standardy efektywności energetycznej.
    Niezależnie od tego, czy szukasz zasilacza do swojego nowego komputera, czy potrzebujesz wymienić stary zasilacz, mamy coś dla Ciebie. Nasz zespół jest do dyspozycji, aby pomóc Ci wybrać najlepszy zasilacz dla Twoich potrzeb.
    Przeglądaj naszą ofertę i znajdź idealny zasilacz dla swojego komputera już dziś!
</p>
<p>Serwis sponsorowany przez:</p>

<img src="../nzxt.png" />
<img src="../be-quiet.jpg" />
<img src="../corsair.svg" />
<img src="../silentium.png" />