@{
    ViewData["Title"] = "Regulamin";
}

<h1>Regulamin serwisu</h1>
<ol class="policy">
    <li>Niniejszy Regulamin (dalej "Regulamin") określa zasady korzystania z serwisu internetowego znajdującego się pod adresem localhost:7209 (dalej "Serwis").</li>
    <li>Serwis umożliwia użytkownikom (dalej "Użytkownicy") przeglądanie oferty zasilaczy komputerowych dostępnych w naszej ofercie.</li>
    <li>Serwis jest własnością Konrada Harmasza (dalej "Właściciel").</li>
    <li>Korzystanie z Serwisu oznacza akceptację Regulaminu oraz polityki prywatności (dalej "Polityka Prywatności"), które są dostępne na stronie internetowej Serwisu.</li>
    <li>Właściciel zastrzega sobie prawo do wprowadzania zmian w Regulaminie i Polityce Prywatności bez uprzedzenia. Zmiany Regulaminu i Polityki Prywatności obowiązują od momentu ich opublikowania na stronie internetowej Serwisu.</li>
    <li>Właściciel zastrzega sobie prawo do usuwania lub ograniczenia dostępu do Serwisu w dowolnym momencie bez podania przyczyny.</li>
    <li>Właściciel nie ponosi odpowiedzialności za działania lub zaniechania Użytkowników oraz za szkody wynikające z ich korzystania z Serwisu.</li>
    <li>Właściciel zastrzega sobie prawo do usuwania lub edycji treści umieszczonych przez Użytkowników w Serwisie bez podania przyczyny.</li>
    <li>Wszystkie treści zamieszczone w Serwisie, w tym teksty, zdjęcia, filmy, logo i inne elementy są chronione prawami autorskimi i nie mogą być wykorzystywane bez pisemnej zgody Właściciela.</li>
    <li>Wszelkie pytania, uwagi lub skargi dotyczące Serwisu lub niniejszego Regulaminu należy kierować na adres e-mail <b>s9690kh@ms.wwsi.edu.pl</b>.</li>
</ol>

<a asp-action="Index"><i class="fa-solid fa-caret-right"></i> Powrót na stronę główną</a>